.statstable {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--stat {
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    width: 200px;
    height: 160px;

    &--number {
      margin: 0 0 0 0;

    }
    &--subtext {
      
    }
  }
}


